body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FF9F45;
}

#calculator {
    width: 360px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: rgba(47,47,47,1) solid 10px;
    border-radius: 5px;
    background-color: rgba(47,47,47,1);
}
#display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #505050;
    color: white;
    border: 3px solid black;
    margin-bottom: 5px;;
}
.current-number-input, .saved-number {
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    padding: 5px;
}
.saved-number{
    min-height: 18px;
    max-height: 19px;
    max-width: 320px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: ltr;
}


.current-number-input {
    font-size: 30px;
    font-weight: bold;
    max-width: 320px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.current-number-input:hover{
    overflow: visible;
}

#keyboard {
    flex: 1 1 0px;
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    background-color: rgba(47,47,47,1);
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-radius: 0px;
    border: black 1px solid;
    background-color: #afafaf;
    font-size: 30px;
    padding: 20px;
}

.btn-oper{
    background-color: #F76E11;
}

.btn-func{
    background-color: #FC4F4F;
}

.btn-oper:focus {
    background-color: #FFBC80;
}

.btn-number:active{
    background-color: #505050;
}

.btn-func:active{
    background-color: #fa8e8e;
}

.item0 {
    grid-column: 1 / span 2;
}
